{% extends 'base.html' %}

{% block titulo %}
<title>crear perfil</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	
{% endblock%}
{% block content %}<br>
	<h1>BIENVENIDOS</h1><br>
	<h2>Crea tu perfil</h2>
			
	<div class="crear_perfil">
		
		<form action="" method="POST" accept-charset="utf-8" enctype="multipart/form-data">

			{% csrf_token %}
			{{ form_1.as_p }}
			{{ form_2.as_p }}<br>
			<button type="submit" class="btn btn-outline-info">Registrarse</button>
			
		</form>
	</div>
{% endblock %}